#grid {
    background-color: greenyellow;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto ;
}

.Grid-Item {
    background-color: white;
    font-size: 20px;
    font-family: cursive;
    padding: 20px;
}